
@{
    ViewBag.Title = "Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-2">
    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Resumen</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-bookmark me-1"></i> Lista de Marcas
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" id="crearNuevo" class="btn btn-success">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @*AJAX, JQUERY*@

            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black text-white">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Marca</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">

                    @* Ocultar id para que solo se maneje con ajax *@
                    <input type="text" id="id" value="0" />

                    <div class="col-sm-6">
                        <label for="descripcion" class="form-label fw-bold">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" autocomplete="off">
                        <span class="text-danger" id="error-descripcion"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="activo" class="form-label fw-bold">Activo</label>
                        <select id="activo" class="form-select">
                            <option selected disabled>Elija una opcion</option>
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                        <span class="text-danger" id="error-activo"></span>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <div id="msjError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="btnCerrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="guardarMarca" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        // variables globales para todos los archivos
        var tabledata;
        var filaSeleccionada;
        const urlListarMarcas = '@Url.Action("ListarMarcas", "Mantenedor")';

    </script>

    @* Script base que contiene todos los archivos JS de usuario *@
    <script src="~/Scripts/JS-MARCA/base.js"></script>
}